---
GitHubTools:
  - name: SecLists
    url: "https://github.com/danielmiessler/SecLists"
    destination: "/opt/SecLists"
  
  - name: SharpCollection
    url: "https://github.com/Flangvik/SharpCollection"
    destination: "/opt/SharpCollection"

  - name: MSSQLHound
    url: "https://github.com/SpecterOps/MSSQLHound"
    destination: "/opt/MSSQLHound"


UVtools:
  - impacket
  - sshuttle

PIPToolsGit:
  - name: NetExec
    url: "git+https://github.com/Pennyw0rth/NetExec"


UVtoolsGit: 
  - name: Certipy
    url: "git+https://github.com/ly4k/Certipy"
  
  - name: pywhisker
    url: "git+https://github.com/ShutdownRepo/pywhisker"
  
  - name: bloodyAD
    url: "git+https://github.com/CravateRouge/bloodyAD"

  - name: pwntools
    url: "git+https://github.com/Gallopsled/pwntools"

  - name: ldeep
    url: "git+https://github.com/franc-pentest/ldeep"
  
  # - name: oscrypto #PKINITTools Dependency
  #   url: "git+https://github.com/wbond/oscrypto"


repositories: 
  - name: targetedKerberoast
    url: "https://github.com/ShutdownRepo/targetedKerberoast"
    destination: "/tmp/targetedKerberoast"


GitHubReleases:
  - repo: "jpillora/chisel"
    regex: "linux_amd64.gz"
    destination: "/opt/chisel"

  - repo: "jpillora/chisel"
    regex: "windows_amd64.gz"
    destination: "/opt/chisel"

  - repo: "peass-ng/PEASS-ng"
    regex: "linpeas.sh"
    destination: "/opt/peass"

  - repo: "peass-ng/PEASS-ng"
    regex: "winPEASx64.exe"
    destination: "/opt/peass"

  - repo: "SpecterOps/SharpHound"
    regex: "windows_x86.zip"
    destination: "/opt/sharphound"

  - repo: "WithSecureLabs/chainsaw"
    regex: "chainsaw_all_"
    destination: "/opt/chainsaw"

  - repo: "shadow1ng/fscan"
    regex: "fscan"
    destination: "/opt/fscan"