---
- name: "Add NOPASSWD rule using sudoers.d"
  become: true
  copy:
    dest: "/etc/sudoers.d/{{ ansible_facts['user_id'] }}"
    content: "{{ ansible_facts['user_id'] }} ALL=(ALL) NOPASSWD: ALL"
    owner: root
    group: root
    mode: '0440'
    validate: 'visudo -cf %s'
  when: ansible_facts['user_id'] != 'root'
