---
- name: "Install Tmux"
  package:
    name: tmux
    state: present
  become: true
  become_method: sudo

- name: "Copying Tmux config"
  copy:
    src: tmux.conf
    dest: "{{ ansible_facts['env']['HOME'] }}/.tmux.conf"
