---
- name: "Check the presense of .ssh in home directory"
  stat:
    path: "{{ ansible_facts['env']['HOME'] }}/.ssh"
  register: ssh_exists
  changed_when: false

- name: "Creating .ssh in home directory"
  file:
    path: "{{ ansible_facts['env']['HOME'] }}/.ssh"
    state: directory
    mode: 0700
  when: not ssh_exists.stat.exists

- name: "Add SSH private key"
  copy:
    content: "{{ git_private_key }}"
    dest: "{{ ansible_facts['env']['HOME'] }}/.ssh/id_rsa"
    mode: 0600

- name: "Configure Git User"
  git_config:
    scope: global
    name: "user.name"
    value: "{{ git_user }}"

- name: "Configure Git Email"
  git_config:
    scope: global
    name: "user.email"
    value: "{{ git_email }}"